USE [master]
GO
/****** Object:  Database [TaskManagement]    Script Date: 07-02-2026 02:50:10 ******/
CREATE DATABASE [TaskManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaskManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TaskManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TaskManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TaskManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaskManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaskManagement]
GO
/****** Object:  Table [dbo].[TasksManagement]    Script Date: 07-02-2026 02:50:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TasksManagement](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](200) NOT NULL,
	[Description] [varchar](max) NULL,
	[DueDate] [datetime] NULL,
	[Status] [varchar](50) NULL,
	[Remarks] [varchar](500) NULL,
	[CreatedOn] [datetime] NULL,
	[LastUpdatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[CreatedById] [int] NULL,
	[LastUpdatedBy] [varchar](100) NULL,
	[LastUpdatedById] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TasksManagement] ON 

INSERT [dbo].[TasksManagement] ([Id], [Title], [Description], [DueDate], [Status], [Remarks], [CreatedOn], [LastUpdatedOn], [CreatedBy], [CreatedById], [LastUpdatedBy], [LastUpdatedById]) VALUES (8, N'Invoice ', N'Generate Invoice', CAST(N'2026-02-07T00:00:00.000' AS DateTime), N'Completed', N'Invoice Created', CAST(N'2026-02-06T17:19:33.973' AS DateTime), CAST(N'2026-02-07T00:44:42.040' AS DateTime), N'System', NULL, N'System ', NULL)
INSERT [dbo].[TasksManagement] ([Id], [Title], [Description], [DueDate], [Status], [Remarks], [CreatedOn], [LastUpdatedOn], [CreatedBy], [CreatedById], [LastUpdatedBy], [LastUpdatedById]) VALUES (9, N'Bill Create', N'Bill Create', CAST(N'2026-02-06T00:00:00.000' AS DateTime), N'Pending', N'Bill Create', CAST(N'2026-02-07T00:36:02.857' AS DateTime), NULL, NULL, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TasksManagement] OFF
GO
ALTER TABLE [dbo].[TasksManagement] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
/****** Object:  StoredProcedure [dbo].[SPTaskCreate]    Script Date: 07-02-2026 02:50:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SPTaskCreate]
(
   @Id INT = NULL,
    @Title NVARCHAR(200) = NULL,
    @Description NVARCHAR(MAX) = NULL,
    @DueDate DATE = NULL,
    @Status NVARCHAR(50) = NULL,
    @Remarks NVARCHAR(MAX) = NULL,
    @CreatedOn DATETIME = NULL,
    @CreatedBy NVARCHAR(100) = NULL,
    @CreatedById INT = NULL,
    @LastUpdatedOn DATETIME = NULL,
    @LastUpdatedBy NVARCHAR(100) = NULL,
    @LastUpdatedById INT = NULL,
    @Mode VARCHAR(20),
	@searchText VARCHAR(50)=NULL
)
AS
BEGIN
    SET NOCOUNT ON;

	-- FOR CREATE
   SET NOCOUNT ON;

    IF @Mode = 'create'
    BEGIN
        INSERT INTO TasksManagement
        (
            Title,
            Description,
            DueDate,
            Status,
            Remarks,
            CreatedOn,
            CreatedBy,
            CreatedById
        )
        VALUES
        (
            @Title,
            @Description,
            @DueDate,
            @Status,
            @Remarks,
            ISNULL(@CreatedOn, GETDATE()),
            @CreatedBy,
            @CreatedById
        );

        SELECT SCOPE_IDENTITY();
        RETURN;
    END
	--FOR UPDATE
   
    IF (LOWER(@Mode)='update')
    BEGIN
        UPDATE TasksManagement
        SET Title = ISNULL(@Title, Title),
            Description = ISNULL(@Description, Description),
            DueDate = ISNULL(@DueDate, DueDate),
            Status = ISNULL(@Status, Status),
            Remarks = ISNULL(@Remarks, Remarks),
            LastUpdatedOn = ISNULL(@LastUpdatedOn, GETDATE()),
            LastUpdatedBy = ISNULL(@LastUpdatedBy, LastUpdatedBy),
            LastUpdatedById = ISNULL(@LastUpdatedById, LastUpdatedById)
        WHERE Id = @Id;
		 SELECT @Id AS NewTaskId;
        RETURN;
    END

	--FOR DELETE
 
    IF (LOWER(@Mode)='delete')
    BEGIN
        DELETE FROM TasksManagement WHERE Id = @Id;
        RETURN;
    END

   -- FOR SEARCH WITH NON ID
    IF (LOWER(@Mode)='search')
    BEGIN
	IF(LEN(@searchText)>0)
	BEGIN
	    SELECT *
FROM TasksManagement
WHERE (Title LIKE '%' + @searchText + '%')
  OR ( Description LIKE '%' + @searchText + '%')
   OR ( status LIKE '%' + @searchText + '%')

        RETURN;
	END
	ELSE
	BEGIN
	    SELECT *
FROM TasksManagement


        RETURN;
	END
 
    END

	--FOR SEARCH
    IF (LOWER(@Mode)='getall')
    BEGIN
        SELECT * FROM TasksManagement where Id=@id
        RETURN;
    END
END
GO
USE [master]
GO
